*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    padding: 30px;
}
h1{
    color: blueviolet;
    background-color: rgb(127, 246, 255);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    opacity: 1;
}

form{
    background-color: rgb(127, 246, 255);
    border-radius: 10px;

}

