body{
    background-color: rgb(0, 255, 76);
    padding: 30px;
}
h1{
    color: blueviolet;
    background-color: aquamarine;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    opacity: 0.4;
}
h1:hover{
    opacity: 1;
    border-radius: 0px;
    transition: 3s;
    background-color: red;
    color: white;
    rotate: 360deg;
}
form{
    background-color: burlywood;
    padding: 20px;
    margin: 20px;
}
input{
    background-color: lightcyan;
    border-style: none ;
    border-radius:8px ;
    padding: 5px;
    color: blue;
    
}
input:hover{
    background-color: lightblue;
}