.contenedor{
    background-color: #EAFCF9;
}
.banner{
    color: white;
    background-color: #1FBEA4;
}
.etiqueta{
    color: #18937E;
}
.cajaTexto{
    color: white;
    background-color: #1FBEA4;
}